@font-face {
  font-family: "iconfont"; /* Project id 3222849 */
  src: url('https://at.alicdn.com/t/font_3222849_cf78e45hw5.woff2?t=1646449965719') format('woff2'),
       url('https://at.alicdn.com/t/font_3222849_cf78e45hw5.woff?t=1646449965719') format('woff'),
       url('https://at.alicdn.com/t/font_3222849_cf78e45hw5.ttf?t=1646449965719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiping:before {
  content: "\e629";
}

.icon-banbengengxin1:before {
  content: "\e642";
}

.icon-gengduo:before {
  content: "\e60b";
}

.icon-kehufuwukefu:before {
  content: "\e698";
}

.icon-duihuanlipin:before {
  content: "\e619";
}

.icon-banbengengxin:before {
  content: "\e6cb";
}

.icon-tuichudenglu:before {
  content: "\e60c";
}

.icon-mingxi:before {
  content: "\e775";
}

.icon-hexiao:before {
  content: "\e61a";
}

.icon-wode:before {
  content: "\e818";
}

.icon-duihuan2:before {
  content: "\e600";
}

